<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% if data.description %}
    <meta name="description" content="{{data.description}}">
    {% else %}
    <meta name="description" content="Napchart is an app created to visualize complex time schedules">
    {% endif %}
    {% if data.chartid %}
      <meta name="twitter:image" content="{{siteUrl}}api/getImage?chartid={{data.chartid}}&width=600&height=600&shape=circle" />
      <meta property="og:image" content="{{siteUrl}}api/getImage?chartid={{data.chartid}}&width=600&height=600&shape=circle" />
      <meta property="og:image:width" content="600" />
      <meta property="og:image:height" content="600" />
    {% endif %}
    {% if data.title %}
    <title>{{data.title}} - Napchart</title>
    {% else %}
    <title>Napchart</title>
    {% endif %}


    <!-- FAVICON THINGS MADE BY REAL FAVICON GENERATOR GOOD STUFF -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d56c5b">
    <meta name="theme-color" content="#e01f0f">

    {% if false %}
      {# <script src='https://www.google.com/recaptcha/api.js'></script> #}
    {% endif %}
    
  </head>
  <body>
    <div id="root">

    </div>
    <script type="text/javascript">
      window.siteUrl = '{{siteUrl}}'
      window.chartid = '{{data.chartid}}'
      window.chartid = window.chartid == 'false' ? false : window.chartid

      {% if data.description %}
      window.description = '{{data.description}}'
      {% endif %}

      {% if data.title %}
      window.title = '{{data.title}}'
      {% endif %}
      
      {% if user %}
      window.user = {{user | dump | safe}}
      {% endif %}
      
      
    </script>
    <script src="/public/index_bundle.js"></script>

    <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//analytics.larskarbo.no/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 4]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>

  </body>
</html>