# top-most EditorConfig file
root = true

# 2 space indentation
[*.js,*.jsx,*.html,*.json]
indent_style = space
indent_size = 2

# Indentation override for all JS under lib directory
[*.scss]
indent_style = tab
indent_size = 4

