rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /charts/{chart} {
    	// Allow any user to see any chart.
    	allow read;
      // Allow any user to create a new chart.
      allow create;
    }
    match /feedback/{feedback_item} {
    	 // Allow any user to submit feedback.
      allow create;

      // Any user can update feedback if they are adding their
      // email address to an existing resource.
      allow update: if request.resource.data.email != null;
    }
  }
}