@import 'animations/animations';
// $fontStack: system-ui, -apple-system, BlinkMacSystemFont, 
// 	"Segoe UI", "Roboto", "Oxygen", 
// 	"Ubuntu", "Cantarell", "Fira Sans", 
// 	"Droid Sans", "Helvetica Neue", sans-serif;
// body, input {
// 	font-family: $fontStack;
// 	font-size: 14px
// }
// /* smart */
// html {
//     width: 100%;
//     height: 100%;
// }
// .monospace {
// font-family: Consolas, "Liberation Mono", Courier, monospace
// }
// //bootstrap 
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import 'partials/bulmavars';
@import "bulma/sass/utilities/derived-variables.sass";
@import 'bulma/bulma';
html {
	font-size: 14px
}

@import 'partials/helpers';
@import 'partials/custom';
@import 'partials/editor';