
@import 'animations/animations';

$fontStack: system-ui, -apple-system, BlinkMacSystemFont, 
	"Segoe UI", "Roboto", "Oxygen", 
	"Ubuntu", "Cantarell", "Fira Sans", 
	"Droid Sans", "Helvetica Neue", sans-serif;

body, input {
	font-family: $fontStack;
	font-size: 16px
}

.monospace {
	font-family: Consolas, "Liberation Mono", Courier, monospace
}

//bootstrap 

@import 'partials/layout';
@import 'partials/header';
@import 'partials/grid';
@import 'partials/shit';
