// stuff in editor and editor ONLY
$header-height: 50px;
.ColorPicker {
	display: flex;
	.color {
		height: calc(100% / 8);
		width: calc(100% / 8);
		opacity: 0.3;
		&.active {
			opacity: 1;
			cursor: default;
		}
		cursor: pointer;
		circle,
		svg {
			pointer-events: none
		}
	}
}

.Chart {
	height: 100vh;
	canvas {
		display: block
	}
}

.grid {
	display: grid;
	grid-template-columns: 340px auto;
	.sidebar {
		min-height: 100vh;
		.sidebarContent {
			$sideLaneWidth: 60px;
			height: calc(100vh - #{$header-height});
			display: grid;
			grid-template-columns: $sideLaneWidth auto;
			.sideLane {
				background: $dark;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.squareBtn {
					width: $sideLaneWidth;
					height: $sideLaneWidth;
					border: 0;
					background: transparent;
					color: white;
				}
			}
			.otherLane {
				background: #f9f9f9;
				overflow-y: auto;
				.currentInfo {
					padding: 20px 20px 10px 10px;
					.part:not(:last-child) {
						margin-bottom: 1.75rem;
					}
				}
			}
		}
	}
	.main {
		box-shadow: 0px 0px 20px #bababa;
	}
}

.Header {
	background: $red;
	margin: 0px !important;
	padding-right: 20px;
	.cornerLogo {
		width: 60px;
	}
	height:$header-height;
	.meta {
		display: flex;
		flex-direction: column;
		align-items: left;
		.chartTitle {
			a,
			h1 {
				font-size: 14px;
				font-weight: bold;
				color: white;
			}
		}
		.byline {
			color: white;
			font-size: 12px;
		}
	}
}

.ToolBar {
	background: #ab3f3f;
	padding: 10px 0
}

.SuperLanes {
	.domLane {
		background: #e0e0e0;
		margin: 20px -20px 20px -10px;
		padding: 10px 20px;
	}
}