// stuff in editor and editor ONLY
$header-height: 50px;
$breakpoint-mobile: 550px;
$gap-right-when-mobile: 80px;
.ColorPicker {
    display: flex;
    .color {
        height: calc(100% / 8);
        width: calc(100% / 8);
        opacity: 0.3;
        &.active {
            opacity: 1;
            cursor: default;
        }
        cursor: pointer;
        circle,
        svg {
            pointer-events: none
        }
    }
}

.Chart {
    height: 100vh;
    canvas {
        display: block
    }
}

// button only on mobile that you can click to slide
.slider {
    display: none;
    @media (max-width: $breakpoint-mobile) {
        display: block;
        position: absolute;
        top: 0;
        &.right {
            left: 0;
        }
        &.left {
            right: 0;
        }
        width: $gap-right-when-mobile;
    }
}

.grid {
    display: grid;
    grid-template-columns: 340px auto;
    @media (max-width: $breakpoint-mobile) {
        grid-template-columns: calc(100vw - #{$gap-right-when-mobile}) 100vw;
        position: relative;
        right: calc(100vw - #{$gap-right-when-mobile});
        transition: right 0.3s;
        &.slideSidebarMobile {
            right: 0;
        }
    }
    .sidebar {
        min-height: 100vh;
        .sidebarContent {
            $sideLaneWidth: 60px;
            height: calc(100vh - #{$header-height});
            display: grid;
            grid-template-columns: $sideLaneWidth auto;
            .sideLane {
                background: $dark;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-top: 44px;
                .squareBtn {
                    width: $sideLaneWidth;
                    height: $sideLaneWidth;
                    border: 0;
                    background: transparent;
                    color: white;
                    cursor: pointer;
                    outline: none;
                    &.active {
                        background: #ab3f3f; // color: $dark;
                    }
                }
            }
            .otherLane {
                background: #f9f9f9;
                overflow-y: auto;
                .currentInfo {
                    padding: 20px 20px 20px 10px;
                }
                .fullWidth {
                    margin-right: -20px;
                    margin-left: -10px;
                    padding: 10px 20px;
                    background: #e0e0e0;
                }
                .description {
                    width: 100%;
                    background: transparent;
                    border: none;
                    outline: none;
                    height: 50px;
                    line-height: 1.5;
                    resize: none;
                    margin-bottom: -10px;
                }
            }
        }
    }
    .main {
        box-shadow: 0px 0px 20px #bababa;
    }
}

.Header {
    background: $red;
    margin: 0px !important;
    padding-right: 20px;
    .cornerLogo {
        width: 60px;
    }
    height:$header-height;
    .meta {
        display: flex;
        flex-direction: column;
        align-items: left;
        .chartTitle {
            a,
            h1 {
                font-size: 14px;
                font-weight: bold;
                color: white;
            }
        }
        .byline {
            color: white;
            font-size: 12px;
        }
    }
}

.ToolBar {
    background: transparent;
    padding: 10px 0
}

.SuperLanes {
    .domLane {}
}

.Info {
    font-size: 0.9rem
}

.Polyphasic {
    .schedule {
        width: 100%;
        .duration {
            color: $black-lighter
        }
    }
}

.BadBrowser {
    @supports not (display: grid) {
        & {
			display: block !important
        }
    }
}