$header-height: 74px;

.header {
	background: #443a39;
	/*ckground: repeating-linear-gradient(
	  45deg,
	  #606dbc,
	  #606dbc 10px,
	  #465298 10px,
	  #465298 20px
	);*/
	text-align: left;
	padding: 0px 30px 0 0;
	height: $header-height;
	/*box-shadow: 0 0 5px rgba(57,70,78,.2);*/
	border-bottom: solid 1px #bfbfbf;
	z-index: 1;
	font-size: 16px;
	user-select:none;
	display: flex;
	font-weight:100;
}


.HeaderElement {
	// width:100%;
	padding-left:15px;
	padding-right:15px;
	cursor: pointer;

  	display:flex;
  	align-items: center;
// justify-content: center;
	// text-transform: uppercase;
	border-bottom: transparent 4px solid;
	letter-spacing: 0.5px;
	// font-weight:bold;
	color: white;
	height:100%;

	&:link, &:visited{
		text-decoration: none;
	}

	&:hover {
		text-decoration: none;
		border-bottom-color: #4499f9;
	}

	&.right {
		margin-left: auto;
	}
}

.headerBtn {
	display:flex;
	align-items:center;
	cursor: pointer;
	
	.mdi-icon{
		fill: #585858;
		width: 21px;
		height: 21px;
		&:hover {
			fill: #4499f9
		}
	}
	&.disabled {
		cursor: default;
		.mdi-icon{
			fill: #b5b5b5;
		cursor: default;

			&:hover {
				fill: #b5b5b5
			}
		}
	}
}

.chartidIndicator {

	display:flex;
	align-items:center;
	margin-right: 20px;
	input {
		font-size: 10px;
		width: 136px;
		outline: none;
	}
}