.intro {
	.bigLogo {
		padding-top: 120px;
		padding-bottom: 50px;
	}

	.header {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
	}

	.HeaderElement {
		opacity: 0.9;

		&:hover {
			opacity: 1;
		}
	}

	.segment {
		max-width: 800px;
		margin: auto;
		text-align: center;
		padding: 40px 10px 20px;

		&.end {
			padding-bottom: 40px
		}
	}

	h1 {
		font-size: 40px;
		font-weight: 100;
	}

	h2 {
		font-size: 24px;
		font-weight: 400;
	}

	video {
		max-width: 600px;
		width: 100%
	}

	img {
		/*width: 100%;*/
		max-width: 300px
	}

	p {
		font-size:17px;
		padding: 0 30px;
		font-weight: 100;
	}

	
	@media (min-width: 500px) {
		.row {
			display: flex;
			align-items: center;

			&.rtl {
				flex-direction: row-reverse;
			}
		}

		.col {
			width: 50%;
		}
	}
	.col {
		width: 100%;
		padding-bottom: 30px
	}
}