.pages {
	font-size: 20px;
	line-height: 1.6;
	font-weight:400;
	color: rgba(0, 0, 0, 0.84);

	p {
		padding: 5px 0;
	}

	p, li {
		font-family: "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times","Source Serif Pro", serif;
	}

	h1 {
		font-size: 40px
	}

	h2 {
		font-size: 28px
	}
}