.center {
  @apply justify-center items-center;
}

.bbutton {
  @apply flex center;
  @apply border border-gray-200 rounded p-2 px-4;
}

.bbutton-small {
  @apply p-1 px-2;
  @apply text-xs;
}

.bbutton:enabled {
  @apply hover:border-gray-400 transition-colors duration-150 hover:shadow-sm;
}

.bbutton:disabled {
  @apply text-gray-400 cursor-default;
}

.slider {
  display: none;
}
@media (max-width: 550px) {
  .slider {
    display: block;
    position: absolute;
    top: 80px;
    width: 80px;
  }
  .slider.right {
    left: 0;
  }
  .slider.left {
    right: 0;
  }
}

.biggrid {
  display: grid;
  grid-template-columns: 360px auto;
}
@media (max-width: 550px) {
  .biggrid {
    grid-template-columns: calc(100vw - 80px) 100vw;
    position: relative;
    right: calc(100vw - 80px);
    transition: right 0.3s;
  }
  .biggrid.slideSidebarMobile {
    right: 0;
  }
}